<!DOCTYPE html>
<html>

<head>

  <!--Responsive meta tag-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project-2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{!--
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"> --}}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Anton|Poiret+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>
  {{{body}}}
</body>

</html>