<!DOCTYPE html>
<html>

<head>

  {{!-- Map --}}

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Anton|Poiret+One" rel="stylesheet">

  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>