{{!-- scroll for main page --}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    // Add smooth scrolling to all links
    $("a").on('click', function (event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  });
</script>

{{!-- Main logo section --}}

{{!-- nav bar --}}
<div id:"navigation">
<nav>
		<menu>
			<menuitem id="demo1">
				<a>Options</a>
				<menu>
					<menuitem><a href="/views/index.handlebars">Breweries</a></menuitem>
               </menuitem>
					<menuitem><a href="/views/wine.handlebars">Wineries</a></menuitem>
<menuitem><a href="/views/coffee.handlebars">Coffee Shops</a></menuitem>
               </menuitem>
<menuitem><a href="/views/date.handlebars">Date Nights</a></menuitem>
               </menuitem>
				</menu>
	</nav>
</div>

<div class="container" id="main">

  <div id="logo">
    <img src="https://image.flaticon.com/icons/svg/999/999940.svg" style="width:250px;height:auto;"></div>
  <p>
    <span id="quote">THE</span><span id="quote3_coffee">SPINS</span>
  </p>
  <p>Ever struggle deciding on where to grab a cup of coffee?</p>

</div>

{{!-- arrow to scroll down to wheel --}}

<div class="container" id="arrow">
  <a href="#section2"><img src="https://alivewithmelissa.com/wp-content/uploads/2018/03/downarrow.png" style="width:80px;height:auto;"></a>
</div>

{{!-- Wheel to find brewery --}}
<div>
  <div class="container" id="wheel">
    <p id="section2">
    <span id="quote3">LET'S</span><span id="quote4_coffee">GO TO...</span>
  </p>
    <div class="row">
      <div class="col-8 offset-2">

        <div class="container">
          <div id="chart"></div>
        </div>
        <div class="container">
          <div id="question">
            <h1></h1>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{{!-- Arrow to form --}}
<div class="container" id="find">
  <p>Need help finding your spot?</p>
  <div class="container" id="arrow">
    <a href="#section3"><img src="https://alivewithmelissa.com/wp-content/uploads/2018/03/downarrow.png" style="width:80px;height:auto;"></a>
  </div>
</div>

{{!-- end --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  var padding = { top: 20, right: 40, bottom: 0, left: 0 },
    w = 340 - padding.left - padding.right,
    h = 340 - padding.top - padding.bottom,
    r = Math.min(w, h) / 2,
    rotation = 0,
    oldrotation = 0,
    picked = 100000,
    oldpick = [],
    color = d3.scale.ordinal().range(["#92d8ff", "#bdebff", "#c6c5ca", "#dd9f80"]);

  var data = [
    { "label": "La Marzocco Cafe", "value": 1, "question": "La Marzocco Cafe" },
    { "label": "QED Coffee", "value": 1, "question": "QED Coffee" },
    { "label": "Moore Coffee Shop", "value": 1, "question": "Moore Coffee Shop" },
    { "label": "Victrola Coffee Roasters", "value": 1, "question": "Victrola Coffee Roasters" },
    { "label": "Storyville Coffee Pike Place", "value": 1, "question": "Storyville Coffee Pike Place" },
    { "label": "Cherry Street Coffee House", "value": 1, "question": "Cherry Street Coffee House" },
    { "label": "Capitol Coffee Works", "value": 1, "question": "Capitol Coffee Works" },
    { "label": "Caffe Vita", "value": 1, "question": "Caffe Vita" },
    { "label": "Union Coffee", "value": 1, "question": "Union Coffee" },
    { "label": "Elm Coffee Roasters", "value": 1, "question": "Elm Coffee Roasters" },
    { "label": "Cascade Coffee Works", "value": 1, "question": "Cascade Coffee Works" },
    { "label": "Porchlight Coffee & Records", "value": 1, "question": "Porchlight Coffee & Records" },
    { "label": "Analog Coffee", "value": 1, "question": "Analog Coffee" },
    { "label": "Kaladi Brothers Coffee", "value": 1, "question": "Kaladi Brothers Coffee" },
    { "label": "Milstead & Co.", "value": 1, "question": "Milstead & Co." },
    { "label": "Bedlam Coffee", "value": 1, "question": "Bedlam Coffee" },
  ];


  var svg = d3.select('#chart')
    .append("svg")
    .data([data])
    .attr("width", w + padding.left + padding.right)
    .attr("height", h + padding.top + padding.bottom);

  var container = svg.append("g")
    .attr("class", "chartholder")
    .attr("transform", "translate(" + (w / 2 + padding.left) + "," + (h / 2 + padding.top) + ")");

  var vis = container
    .append("g");

  var pie = d3.layout.pie().sort(null).value(function (d) { return 1; });

  // declare an arc generator function
  var arc = d3.svg.arc().outerRadius(r);

  // select paths, use arc generator to draw
  var arcs = vis.selectAll("g.slice")
    .data(pie)
    .enter()
    .append("g")
    .attr("class", "slice");


  arcs.append("path")
    .attr("fill", function (d, i) { return color(i); })
    .attr("d", function (d) { return arc(d); });

  // add the text
  arcs.append("text").attr("transform", function (d) {
    d.innerRadius = 0;
    d.outerRadius = r;
    d.angle = (d.startAngle + d.endAngle) / 2;
    return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")translate(" + (d.outerRadius - 10) + ")";
  })
    .attr("text-anchor", "end")
    .text(function (d, i) {
      return data[i].label;
    });

  container.on("click", spin);


  function spin(d) {

    container.on("click", null);

    //all slices have been seen, all done
    console.log("OldPick: " + oldpick.length, "Data length: " + data.length);
    if (oldpick.length == data.length) {
      console.log("done");
      container.on("click", null);
      return;
    }

    var ps = 360 / data.length,
      pieslice = Math.round(1440 / data.length),
      rng = Math.floor((Math.random() * 1440) + 360);

    rotation = (Math.round(rng / ps) * ps);

    picked = Math.round(data.length - (rotation % 360) / ps);
    picked = picked >= data.length ? (picked % data.length) : picked;


    if (oldpick.indexOf(picked) !== -1) {
      d3.select(this).call(spin);
      return;
    } else {
      oldpick.push(picked);
    }

    rotation += 90 - Math.round(ps / 2);

    vis.transition()
      .duration(3000)
      .attrTween("transform", rotTween)
      .each("end", function () {

        //mark question as seen
        d3.select(".slice:nth-child(" + (picked + 1) + ") path")
          .attr("fill", "#111");

        //populate question
        d3.select("#question h1")
          .text(data[picked].question);

        oldrotation = rotation;

        container.on("click", spin);
      });
  }

  //make arrow
  svg.append("g")
    .attr("transform", "translate(" + (w + padding.left + padding.right) + "," + ((h / 2) + padding.top) + ")")
    .append("path")
    .attr("d", "M-" + (r * .15) + ",0L0," + (r * .05) + "L0,-" + (r * .05) + "Z")
    .style({ "fill": "black" });

  //draw spin circle
  container.append("circle")
    .attr("cx", 0)
    .attr("cy", 0)
    .attr("r", 60)
    .style({ "fill": "white", "cursor": "pointer" });

  //spin text
  container.append("text")
    .attr("x", 0)
    .attr("y", 15)
    .attr("text-anchor", "middle")
    .text("SPIN")
    .style({ "font-weight": "bold", "font-size": "30px" });


  function rotTween(to) {
    var i = d3.interpolate(oldrotation % 360, rotation);
    return function (t) {
      return "rotate(" + i(t) + ")";
    };
  }


  function getRandomNumbers() {
    var array = new Uint16Array(1000);
    var scale = d3.scale.linear().range([360, 1440]).domain([0, 100000]);

    if (window.hasOwnProperty("crypto") && typeof window.crypto.getRandomValues === "function") {
      window.crypto.getRandomValues(array);
      console.log("works");
    } else {
      //no support for crypto, get crappy random numbers
      for (var i = 0; i < 1000; i++) {
        array[i] = Math.floor(Math.random() * 100000) + 1;
      }
    }

    return array;
  }

</script>

{{!-- End wheel --}}

{{!-- map section --}}
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="section3"></div>
    <div id="map"></div>

{{!-- button --}}
<div class="container">
  <div class="find" id="scroll"><a href="#anchor4" class="scrollLink">
        <button class="btn btn-outline-light" type="button" id="button-find">Add a Coffee Shop!<i class="fa fa-search"></i></button>
      </a></div>  
</div>
   
    
    <script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 47.6062, lng: -122.3321},
          zoom: 13,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_uAVYhzMgj0xOeaK9Clgjem9ynh6CtYw&libraries=places&callback=initAutocomplete"
         async defer></script>



<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>Don't See your favorite Cafe?</h1>
        <h2>We Can Add It For You</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <br>
            <label for="example-text">Coffee Shop</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="example-description">Neighborhood</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Capitol Hill, Fremont, Ballard, etc."></textarea>
          </div>
          <button id="submit" class="btn btn-dark float-right">Submit</button>
        </form>
        <h3 id="anchor4">ADDED COFFEE SHOPS:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div>
      <br>





    </div>
  </div>


</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>