<div class="container">

    <div id="logo"><img src="https://static.thenounproject.com/png/166485-200.png"></div>
    <br>
    <p>
      <span id="quote">Our Drinking Game App</span>
    </p>
    <div>
        <button class="btn btn-outline-dark" type="button" id="button-find">Find a Brewery
          <i class="fa fa-search"></i></button>
      </a></div>
  </div>
