<div class="container" id="main">

    <div id="logo"><img src="https://static.thenounproject.com/png/166485-200.png"></div>
    <p>
      <span id="quote">The</span><span id="quote2">SPINS</span>
    </p>
  
</div>


<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Enter Players Names</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Add 2-4 Players</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Pick Your Color</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Red, Blue, Green, Yellow"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Players List:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
<div>
  <br>
         <div class="find" id="scroll"><a class="scrollLink" href="../views/layouts/game.handlebars">
        <button class="btn btn-outline-dark" type="button" id="button-find">Play!
           <i class="fa fa-search"></i></button>
      </a></div>


  </div>
  </div>


</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>