<div class="container">
  <p>
      <span id="quote">Find a Brewery</span>
    </p>
    <div id="maps"></div>
    <br>


    <div id="maps">

      Map goes here.
    </div>
  
    <div>
         <div class="find" id="scroll"><a href="../views/layouts/game.handlebars" class="scrollLink">
        <button class="btn btn-outline-dark" type="button" id="button-find">Drinking Game
           <i class="fa fa-search"></i></button>
      </a></div>
  </div>

  